<footer class="bg-secondary text-textPrimary p-4 mt-auto">
  <div class="container mx-auto text-center text-sm">
    By continuing past this page, you agree to our 
    <a href="/" class="hover:text-textSecondary underline">Terms of Service</a>, 
    <a href="/" class="hover:text-textSecondary underline">Cookie Policy</a>, 
    <a href="/" class="hover:text-textSecondary underline">Privacy Policy</a> and 
    <a href="/" class="hover:text-textSecondary underline">Content Policies</a>. 
    All trademarks are properties of their respective owners. <br />
    &copy; 2024, AK Creation. All rights reserved.
  </div>
</footer>
